#registro{
    margin-top: 30px;
    margin-left: 25%;
    background-color: rgb(126, 178, 228);
    border-color: rgb(255, 255, 255);
    border-style: solid;
    border-width: 5px;
    border-radius: 10px;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
}

#registro button{
    background-color: rgb(75, 113, 189);
    border-color: rgb(255, 255, 255);
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    color: white;
    padding: 10px;
    margin-top: 10px;
    width: 100%;
}
#registro label{
    display: flex;
    justify-content: center;
    margin: 5px;
}
input{
    padding: 4px;
    width: 100%;
}

#rut1{
    width: 36%;
}

#rut{
    display: flex;
    justify-content: center;
}

#dv{
    width: 10%;
}

@media screen {
    
}