#menu{
    padding: 15px;
}

h1{
    display: flex;
    justify-content: center;
}

#boleta{
    margin-left: 15%;
    width: 70%;
}

thead,tbody{
    border-width: 2px;
    border-color: black;
    background-color: rgb(126, 178, 228);
}