{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-signin-client_id" content="805025860714-75mr0ps3a1gudj5338ensoial5ru79e8.apps.googleusercontent.com">
    
    <title>Tienda Pinponcitos</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{%static 'CSS/Main Style.css' %}" type="text/css">
    <link rel="stylesheet" href="{%static 'CSS/contactanos.css' %}">
    


    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <!-- Validacion del formulario con jquery >:D -->
    <script>
        $(document).ready(function(){ // Espera a que la pagina esté lista
                $("#button").click(function(event){ // agrega un trigger al boton de enviar formulario, el boton tiene id 'button'
                var nombre = $("#nombre").val(); // Obtiene el valor del campo nombre
                var telefono = $("#telefono").val(); // Obtiene el valor del campo telefono
                var correo = $("#correo").val(); // Obtiene el valor del campo correo
                var mensaje = $("#mensaje").val(); // Obtiene el valor del campo mensaje
                var region = $('#Region').val(); // Obtiene el valor del campo region
                var comuna = $('#Comuna').val(); // Obtiene el valor del campo comuna
                var expre_correo = new RegExp(/^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/); 
                // Expresión regular para validar un correo electrónico, funcion de jquery
                // Se pueden usar letras en minusculas y mayusculas, números, guiones bajos, puntos y el signo + la parte izquierda del arroba
                // Puede tener letras en minusculas y mayusculas, números y guiones en la parte derecha del arroba
                // Puede tener de 2 a 4 letras en minusculas y mayusculas al final .com .cl .org .net 


                var expre_telefono = new RegExp(/^[0-9]{9}$/); // Asume que el número de teléfono tiene 9 dígitos

                if(nombre == ""){ // Verifica si el campo nombre está vacío
                    alert("El campo nombre esta vacio"); // Muestra un mensaje de alerta integrado en el navegador
                    event.preventDefault(); // Interrumpe el envio del formulario
                }else if(telefono == "" || !expre_telefono.test(telefono)){ // Verifica si el campo telefono está vacío o no es un número válido segun la expresion regular
                    alert("El campo telefono esta vacio o no es un número válido");
                    event.preventDefault(); 
                }else if(correo == "" || !expre_correo.test(correo)){
                    alert("El campo correo esta vacio o no es un correo valido");
                    event.preventDefault(); 
                }else if(region=="" || region==null || region==undefined){ // Verifica si el campo region está vacío
                    alert("Por favor, selecciona una región");
                    event.preventDefault(); 
                }else if(comuna=="" || comuna==null || comuna==undefined){
                    alert("Por favor, selecciona una comuna");
                    event.preventDefault(); 
                }else if (!$("input[name='Opcion']").is(':checked')){ // Verifica si no hay ningún radio button seleccionado
                    alert("Por favor, selecciona un tipo de producto");
                    event.preventDefault(); 
                }else if(mensaje == ""){
                    alert("El campo mensaje esta vacio");
                    event.preventDefault(); 
                }
            });
        });
    </script>




</head>
<body>
    <header class="cabezera">
        <a href="{% url 'index' %}" class="pinpon"><img src="{% static 'Imagenes/icono.jpeg' %}" alt="icono pagina" class="icono">
        <img src="{%static 'Imagenes/aas.png' %}" id="icono1"  alt="icono"></a>
        <Div class="user">
            <h5>Usuario</h5>
            <button class="perfil" type="submit" onclick="AbrirCuenta(event);"></button>
        </Div>
    </header>
    <div id="pop-up">
        <div class="g-signin2" data-onsuccess="onSignIn"></div>
    </div>
    <nav class=" navbar navbar-expand-lg navbar-light  ">  
        <div class="container-nav">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbar-star" aria-controls="navbar-star" aria-expanded="false"
                    aria-label="toggle navigation">
                    <span class="navbar-toggler-icon"></span>        
            </button>
            <div class = "collapse navbar-collapse " id="navbar-star">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'index' %}"><i class="bi bi-house-door-fill"></i> Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'Nosotros' %}"><i class="bi bi-people-fill"></i> Nosotros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'Galeria' %}"><i class="bi bi-collection"></i> Galería</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" ><i class="bi bi-telephone-inbound"></i> Contáctanos</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <br>
    <div id="contenedor-contactanos">
        <form  id="contactanos-formulario" action="https://formspree.io/f/xjvnzrka" method="post">
            <h1 id="h1">Contáctanos</h1>
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="Nombre" minlength="3" maxlength="30" required>
            <br>
            <label for="telefono">Teléfono:</label>
            <input type="text" id="telefono" name="Telefono" required>
            <br>
            <label for="correo">Correo:</label>
            <input type="email" id="correo" name="Correo" maxlength="40" required>
            <br>
            <div id="div-regiones">
                <label for="opciones">Regiones:</label>
                <select class="form-control" id="Region" name="Region">
                </select>
            </div>
            <br>
            <div id="div-comuna">
                <label for="opciones">Comunas:</label>
                <select class="form-control" id="Comuna" name="Comuna">
                    
                    

                </select>
            </div>
            <br>
            <label for="radio">Tipo de Producto</label>
            <br>
            <div id="div-radio">
                <div id="juguetes-radio">
            <label for="radio-juguete">Juguete</label>
            <input type="radio" name="Opcion" id="radio-juguete" value="Juguete">
                </div>
            <div id="ropa-radio">
            <label for="radio-ropa">Ropa</label>
            <input type="radio" name="Opcion" id="radio-ropa" value="Ropa">
            </div>
            </div>
            <label for="mensaje">Mensaje:</label>
            
            <br>
            <textarea id="mensaje" name="Mensaje"  minlength="5" maxlength="150" required></textarea>
            <br>
            <input type="submit" value="Enviar" id="button">

        </form>
    </div>
    <footer>
        <div id="margen">  

        </div>
        <div class="contenedor-footer">
            <div id="contactos">
                <ul>
                    <ol><a href="https://www.instagram.com/pinponcitos2020/" target="_blank"><i class="bi bi-instagram"></i>Instagram</a>
                        </ol>
                    <ol><a href="https://web.facebook.com/pinponcitos.cereno" target="_blank"><i class="bi bi-facebook"></i>Facebook</a></ol>
                </ul>
            </div>
            <div id="nosotros">
                <ul>
                    <ol>Francisco Esteva</ol>
                    <ol>Alejandro Flores </ol>
                    <ol>Cristobal Cereño</ol>
                </ul>
            </div>
            <div id="copyrai">
                <small>&copy;2024 <b>Pinponcitos</b>-Todos los derechos reservado</small>
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="{% static '/JavaScript/api-direccion.js' %}"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="{% static '/JavaScript/Google.js' %}"></script>


</body>
</html>