{% extends "Cuenta/cuenta.html" %} 

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <title>Pinponcitos - Categorias</title>
</head>
<body>
    <div class="container"> 
        <h1>Categorias</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Nombre</th>
                    <th>Descripcion</th>
                </tr>
            </thead>
            <tbody>
                {% for categori in categorias%}
                <tr>
                    <td>{{ categori.id_categoria }}</td>
                    <td>{{ categori.nombre }}</td>
                    <td>{{ categori.descripcion }}</td>
                    <td>{{ categori.categoria }}</td>
                    {% if user.is_authenticated %}
                        <td>
                            <a href="{% url 'eliminarCategoria' categori.id_categoria %}" class="btn btn-danger">Eliminar</a>
                        </td>
                    {% else %}
                        <td>
                            <a href="#" class="btn btn-danger">No tiene permiso</a>
                        </td>
                    {% endif %}
                    
                    <td>
                        <a href="{% url 'EditarCategoria' categori.id_categoria %}" class="btn btn-warning">Modificar</a>
                    </td>

                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{% url 'AñadirCategoria' %}" class="btn btn-success">Crear Categoria</a>
    </div>
   
</body>
</html>
{% endblock %}