{% extends "Cuenta/cuenta.html" %} 

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <title>Pinponcitos - Usuarios</title>
</head>
<body>
    <div class="container"> 
        <h1>Usuarios</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Correo</th>
                    <th>Eliminar</th>
                    <th>Ver compras</th>
                </tr>
            </thead>
            <tbody>
                {% for user in Usuarios%}
                <tr>
                    <td>{{user.first_name}}</td>
                    <td>{{user.last_name}}</td>
                    <td>{{user.email}}</td>
                    
                    {% if user.is_authenticated %}
                        <td>
                            <a href="{% url 'eliminarUsuario' user.id %}" class="btn btn-danger">Eliminar</a>
                        </td>
                    {% else %}
                        <td>
                            <a href="#" class="btn btn-danger">No tiene permiso</a>
                        </td>
                    {% endif %}
                    <td>
                        <a href="{% url 'ListaBoletas' user.id %}" class="btn btn-info">Ver compras</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
{% endblock %}