{% extends "Cuenta/cuenta.html" %} 
{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.js"></script>
    <link rel="stylesheet" href="{%static 'CSS/Style Boleta.css' %}">
    <title>Pinponcitos - Ver compras</title>
</head>
<body>
    <div class="container mt-5">
        <h2>Mis compras</h2>
        <div class="list-group">
            {% for boleta in boletas %}
            <div class="row">
                <div class="col mb-3">
                  <p class="small text-muted mb-1">Fecha Emitida</p>
                  <p>{{ fecha }}</p>
                </div>
                <div class="col mb-3">
                  <p class="small text-muted mb-1">Numero Boleta</p>
                  <p>N {{ id_boleta }}</p>
                </div>
              </div>
  
              <div class="mx-n5 px-5 py-4" style="background-color: #f2f2f2;">
                <div class="row">
                    {% for prod in productos%}
                    <div class="col-md-8 col-lg-9">
                        <p>{{ prod.id_producto }} X{{ prod.cantidad }}  ${{ prod.subtotal }}</p>
                    </div>
                    {% endfor %}
                </div>
              </div>
  
              <div class="row my-4">
                <div class="col-md-8">
                  <p class="lead fw-bold mb-0" style="color: rgb(68, 111, 152); font-weight: 650;">NETO ${{ total_neto }}</p>
                </div>

                <div class="col-md-8">
                  <p class="lead fw-bold mb-0" style="color: rgb(68, 111, 152); font-weight: 650;">IVA 19% $ {{ iva }}</p>
                </div>
                <div class="col-md-8">
                  <p class="lead fw-bold mb-0" style="color: rgb(68, 111, 152); font-weight: 650;">TOTAL ${{total_a_pagar}}</p>
                </div>
              </div>
            {% empty %}
                <p>No has realizado ninguna compra.</p>
            {% endfor %}
</body>
</html>
{% endblock %}